In [2]:
# Import the required packages
import requests
import json
import pandas as pd
import glob
import duckdb

In [3]:
# Get a list of all CSV files in a directory
csv_files_dustmonitoring = sorted(glob.glob(r'c:\users\sieweweiss/OneDrive - KPMG/Documents/JADS/Level 1/Enexis/data/Dustmonitoring/*.csv'), reverse=True)

In [4]:
# Create an empty dataframe to store the combined data
df = pd.DataFrame()

In [5]:
df = pd.concat([pd.read_csv(csv_file, sep=';', header=[0,1], index_col=[0,1], low_memory=False)
        for csv_file in csv_files_dustmonitoring])

In [6]:
df.shape

(561311, 285)

In [7]:
df.head()

                                             I01                               \
Time                                         Lat     Lon    PM1  PM2.5   PM10
UTC                 Local                      °       °  μg/m³  μg/m³  μg/m³
2023-09-01 00:00:00 2023-09-01 02:00:00  51,4063  5,4574   9,48  13,00  26,51
2023-09-01 00:00:01 2023-09-01 02:00:01      NaN     NaN    NaN    NaN    NaN
2023-09-01 00:04:00 2023-09-01 02:04:00      NaN     NaN    NaN    NaN    NaN
2023-09-01 00:09:59 2023-09-01 02:09:59      NaN     NaN    NaN    NaN    NaN

                                                        I02                 \
Time                                           NO2      Lat     Lon    PM1
UTC                 Local                μg/m³\r\n        °       °  μg/m³
2023-09-01 00:00:00 2023-09-01 02:00:00         13  51,4379  5,3582   7,18
2023-09-01 00:00:01 2023-09-01 02:00:01        NaN      NaN     NaN    NaN
2023-09-01 00:04:00 2023-09-01 02:04:00        NaN      NaN     NaN    NaN
2023-09-01 00:09:59 2023-09-01 02:09:59        NaN      NaN     NaN    NaN

                                                ...    I58                \
Time                                     PM2.5  ...    PM1  PM2.5   PM10
UTC                 Local                μg/m³  ...  μg/m³  μg/m³  μg/m³
2023-09-01 00:00:00 2023-09-01 02:00:00  10,15  ...    NaN    NaN    NaN
2023-09-01 00:00:01 2023-09-01 02:00:01    NaN  ...    NaN    NaN    NaN
2023-09-01 00:04:00 2023-09-01 02:04:00    NaN  ...    NaN    NaN    NaN
2023-09-01 00:09:59 2023-09-01 02:09:59    NaN  ...    NaN    NaN    NaN

                                                    I10                       \
Time                                           NO2  Lat  Lon  PM1 PM2.5 PM10
UTC                 Local                μg/m³\r\n  NaN  NaN  NaN   NaN  NaN
2023-09-01 00:00:00 2023-09-01 02:00:00        NaN  NaN  NaN  NaN   NaN  NaN
2023-09-01 00:00:01 2023-09-01 02:00:01        NaN  NaN  NaN  NaN   NaN  NaN
2023-09-01 00:04:00 2023-09-01 02:04:00        NaN  NaN  NaN  NaN   NaN  NaN
2023-09-01 00:09:59 2023-09-01 02:09:59        NaN  NaN  NaN  NaN   NaN  NaN


Time                                     NO2
UTC                 Local                NaN
2023-09-01 00:00:00 2023-09-01 02:00:00  NaN
2023-09-01 00:00:01 2023-09-01 02:00:01  NaN
2023-09-01 00:04:00 2023-09-01 02:04:00  NaN
2023-09-01 00:09:59 2023-09-01 02:09:59  NaN

[5 rows x 285 columns]

In [8]:
sorted(df.columns)

[('I01', 'Lat'),
 ('I01', 'Lon'),
 ('I01', 'NO2'),
 ('I01', 'PM1'),
 ('I01', 'PM10'),
 ('I01', 'PM2.5'),
 ('I02', 'Lat'),
 ('I02', 'Lon'),
 ('I02', 'NO2'),
 ('I02', 'PM1'),
 ('I02', 'PM10'),
 ('I02', 'PM2.5'),
 ('I02', 'UFP'),
 ('I03', 'Lat'),
 ('I03', 'Lon'),
 ('I03', 'NO2'),
 ('I03', 'PM1'),
 ('I03', 'PM10'),
 ('I03', 'PM2.5'),
 ('I04', 'Lat'),
 ('I04', 'Lon'),
 ('I04', 'NO2'),
 ('I04', 'PM1'),
 ('I04', 'PM10'),
 ('I04', 'PM2.5'),
 ('I05', 'Lat'),
 ('I05', 'Lon'),
 ('I05', 'NO2'),
 ('I05', 'PM1'),
 ('I05', 'PM10'),
 ('I05', 'PM2.5'),
 ('I06', 'Lat'),
 ('I06', 'Lon'),
 ('I06', 'NO2'),
 ('I06', 'PM1'),
 ('I06', 'PM10'),
 ('I06', 'PM2.5'),
 ('I07', 'Lat'),
 ('I07', 'Lon'),
 ('I07', 'NO2'),
 ('I07', 'PM1'),
 ('I07', 'PM10'),
 ('I07', 'PM2.5'),
 ('I08', 'Lat'),
 ('I08', 'Lon'),
 ('I08', 'NO2'),
 ('I08', 'PM1'),
 ('I08', 'PM10'),
 ('I08', 'PM2.5'),
 ('I09', 'Lat'),
 ('I09', 'Lon'),
 ('I09', 'NO2'),
 ('I09', 'PM1'),
 ('I09', 'PM10'),
 ('I09', 'PM2.5'),
 ('I10', 'Lat'),
 ('I10', 'Lon'),
 ('I10', 'NO2'),
 ('I10', 'PM1'),
 ('I10', 'PM10'),
 ('I10', 'PM2.5'),
 ('I11', 'Lat'),
 ('I11', 'Lon'),
 ('I11', 'NO2'),
 ('I11', 'PM1'),
 ('I11', 'PM10'),
 ('I11', 'PM2.5'),
 ('I12', 'Lat'),
 ('I12', 'Lon'),
 ('I12', 'NO2'),
 ('I12', 'PM1'),
 ('I12', 'PM10'),
 ('I12', 'PM2.5'),
 ('I13', 'Lat'),
 ('I13', 'Lon'),
 ('I13', 'NO2'),
 ('I13', 'PM1'),
 ('I13', 'PM10'),
 ('I13', 'PM2.5'),
 ('I14', 'Lat'),
 ('I14', 'Lon'),
 ('I14', 'NO2'),
 ('I14', 'PM1'),
 ('I14', 'PM10'),
 ('I14', 'PM2.5'),
 ('I14', 'UFP'),
 ('I16', 'Lat'),
 ('I16', 'Lon'),
 ('I16', 'NO2'),
 ('I16', 'PM1'),
 ('I16', 'PM10'),
 ('I16', 'PM2.5'),
 ('I17', 'Lat'),
 ('I17', 'Lon'),
 ('I17', 'NO2'),
 ('I17', 'PM1'),
 ('I17', 'PM10'),
 ('I17', 'PM2.5'),
 ('I18', 'Lat'),
 ('I18', 'Lon'),
 ('I18', 'NO2'),
 ('I18', 'PM1'),
 ('I18', 'PM10'),
 ('I18', 'PM2.5'),
 ('I19', 'Lat'),
 ('I19', 'Lon'),
 ('I19', 'NO2'),
 ('I19', 'PM1'),
 ('I19', 'PM10'),
 ('I19', 'PM2.5'),
 ('I22', 'Lat'),
 ('I22', 'Lon'),
 ('I22', 'NO2'),
 ('I22', 'PM1'),
 ('I22', 'PM10'),
 ('I22', 'PM2.5'),
 ('I23', 'Lat'),
 ('I23', 'Lon'),
 ('I23', 'NO2'),
 ('I23', 'PM1'),
 ('I23', 'PM10'),
 ('I23', 'PM2.5'),
 ('I24', 'Lat'),
 ('I24', 'Lon'),
 ('I24', 'NO2'),
 ('I24', 'PM1'),
 ('I24', 'PM10'),
 ('I24', 'PM2.5'),
 ('I25', 'Lat'),
 ('I25', 'Lon'),
 ('I25', 'NO2'),
 ('I25', 'PM1'),
 ('I25', 'PM10'),
 ('I25', 'PM2.5'),
 ('I25', 'UFP'),
 ('I28', 'Lat'),
 ('I28', 'Lon'),
 ('I28', 'NO2'),
 ('I28', 'PM1'),
 ('I28', 'PM10'),
 ('I28', 'PM2.5'),
 ('I29', 'Lat'),
 ('I29', 'Lon'),
 ('I29', 'NO2'),
 ('I29', 'PM1'),
 ('I29', 'PM10'),
 ('I29', 'PM2.5'),
 ('I30', 'Lat'),
 ('I30', 'Lon'),
 ('I30', 'NO2'),
 ('I30', 'PM1'),
 ('I30', 'PM10'),
 ('I30', 'PM2.5'),
 ('I32', 'Lat'),
 ('I32', 'Lon'),
 ('I32', 'NO2'),
 ('I32', 'PM1'),
 ('I32', 'PM10'),
 ('I32', 'PM2.5'),
 ('I33', 'Lat'),
 ('I33', 'Lon'),
 ('I33', 'NO2'),
 ('I33', 'PM1'),
 ('I33', 'PM10'),
 ('I33', 'PM2.5'),
 ('I36', 'Lat'),
 ('I36', 'Lon'),
 ('I36', 'NO2'),
 ('I36', 'PM1'),
 ('I36', 'PM10'),
 ('I36', 'PM2.5'),
 ('I37', 'Lat'),
 ('I37', 'Lon'),
 ('I37', 'NO2'),
 ('I37', 'PM1'),
 ('I37', 'PM10'),
 ('I37', 'PM2.5'),
 ('I39', 'Lat'),
 ('I39', 'Lon'),
 ('I39', 'NO2'),
 ('I39', 'PM1'),
 ('I39', 'PM10'),
 ('I39', 'PM2.5'),
 ('I40', 'Lat'),
 ('I40', 'Lon'),
 ('I40', 'NO2'),
 ('I40', 'PM1'),
 ('I40', 'PM10'),
 ('I40', 'PM2.5'),
 ('I41', 'Lat'),
 ('I41', 'Lon'),
 ('I41', 'NO2'),
 ('I41', 'PM1'),
 ('I41', 'PM10'),
 ('I41', 'PM2.5'),
 ('I42', 'Lat'),
 ('I42', 'Lon'),
 ('I42', 'NO2'),
 ('I42', 'PM1'),
 ('I42', 'PM10'),
 ('I42', 'PM2.5'),
 ('I43', 'Lat'),
 ('I43', 'Lon'),
 ('I43', 'NO2'),
 ('I43', 'PM1'),
 ('I43', 'PM10'),
 ('I43', 'PM2.5'),
 ('I44', 'Lat'),
 ('I44', 'Lon'),
 ('I44', 'NO2'),
 ('I44', 'PM1'),
 ('I44', 'PM10'),
 ('I44', 'PM2.5'),
 ('I45', 'Lat'),
 ('I45', 'Lon'),
 ('I45', 'NO2'),
 ('I45', 'PM1'),
 ('I45', 'PM10'),
 ('I45', 'PM2.5'),
 ('I46', 'Lat'),
 ('I46', 'Lon'),
 ('I46', 'NO2'),
 ('I46', 'PM1'),
 ('I46', 'PM10'),
 ('I46', 'PM2.5'),
 ('I47', 'Lat'),
 ('I47', 'Lon'),
 ('I47', 'NO2'),
 ('I47', 'PM1'),
 ('I47', 'PM10'),
 ('I47', 'PM2.5'),
 ('I48', 'Lat'),
 ('I48', 'Lon'),
 ('I48', 'NO2'),
 ('I48', 'PM1'),
 ('I48', 'PM10'),
 ('I48', 'PM2.5'),
 ('I49', 'Lat'),
 ('I49', 'Lon'),
 ('I49', 'NO2'),
 ('I49', 'PM1'),
 ('I49', 'PM10'),
 ('I49', 'PM2.5'),
 ('I50', 'Lat'),
 ('I50', 'Lon'),
 ('I50', 'NO2'),
 ('I50', 'PM1'),
 ('I50', 'PM10'),
 ('I50', 'PM2.5'),
 ('I51', 'Lat'),
 ('I51', 'Lon'),
 ('I51', 'NO2'),
 ('I51', 'PM1'),
 ('I51', 'PM10'),
 ('I51', 'PM2.5'),
 ('I52', 'Lat'),
 ('I52', 'Lon'),
 ('I52', 'NO2'),
 ('I52', 'PM1'),
 ('I52', 'PM10'),
 ('I52', 'PM2.5'),
 ('I55', 'Lat'),
 ('I55', 'Lon'),
 ('I55', 'NO2'),
 ('I55', 'PM1'),
 ('I55', 'PM10'),
 ('I55', 'PM2.5'),
 ('I56', 'Lat'),
 ('I56', 'Lon'),
 ('I56', 'NO2'),
 ('I56', 'PM1'),
 ('I56', 'PM10'),
 ('I56', 'PM2.5'),
 ('I57', 'Lat'),
 ('I57', 'Lon'),
 ('I57', 'NO2'),
 ('I57', 'PM1'),
 ('I57', 'PM10'),
 ('I57', 'PM2.5'),
 ('I58', 'Lat'),
 ('I58', 'Lon'),
 ('I58', 'NO2'),
 ('I58', 'PM1'),
 ('I58', 'PM10'),
 ('I58', 'PM2.5')]

In [9]:
df.index

MultiIndex([(                'UTC',               'Local'),
            ('2023-09-01 00:00:00', '2023-09-01 02:00:00'),
            ('2023-09-01 00:00:01', '2023-09-01 02:00:01'),
            ('2023-09-01 00:04:00', '2023-09-01 02:04:00'),
            ('2023-09-01 00:09:59', '2023-09-01 02:09:59'),
            ('2023-09-01 00:10:00', '2023-09-01 02:10:00'),
            ('2023-09-01 00:10:01', '2023-09-01 02:10:01'),
            ('2023-09-01 00:14:00', '2023-09-01 02:14:00'),
            ('2023-09-01 00:20:00', '2023-09-01 02:20:00'),
            ('2023-09-01 00:20:01', '2023-09-01 02:20:01'),
            ...
            ('2021-02-28 23:20:00', '2021-03-01 00:20:00'),
            ('2021-02-28 23:20:01', '2021-03-01 00:20:01'),
            ('2021-02-28 23:30:00', '2021-03-01 00:30:00'),
            ('2021-02-28 23:30:01', '2021-03-01 00:30:01'),
            ('2021-02-28 23:39:59', '2021-03-01 00:39:59'),
            ('2021-02-28 23:40:00', '2021-03-01 00:40:00'),
            ('2021-02-28 23:40:01', '2021-03-01 00:40:01'),
            ('2021-02-28 23:49:59', '2021-03-01 00:49:59'),
            ('2021-02-28 23:50:00', '2021-03-01 00:50:00'),
            ('2021-02-28 23:50:01', '2021-03-01 00:50:01')],
           length=561311)

In [10]:
df_original = df
df_stack = df.drop(index='UTC')
df_stack.head()

                                             I01                              \
Time                                         Lat     Lon   PM1  PM2.5   PM10
2023-09-01 00:00:00 2023-09-01 02:00:00  51,4063  5,4574  9,48  13,00  26,51
2023-09-01 00:00:01 2023-09-01 02:00:01      NaN     NaN   NaN    NaN    NaN
2023-09-01 00:04:00 2023-09-01 02:04:00      NaN     NaN   NaN    NaN    NaN
2023-09-01 00:09:59 2023-09-01 02:09:59      NaN     NaN   NaN    NaN    NaN
2023-09-01 00:10:00 2023-09-01 02:10:00  51,4063  5,4574  8,36  13,23  23,00

                                                  I02                       \
Time                                     NO2      Lat     Lon   PM1  PM2.5
2023-09-01 00:00:00 2023-09-01 02:00:00   13  51,4379  5,3582  7,18  10,15
2023-09-01 00:00:01 2023-09-01 02:00:01  NaN      NaN     NaN   NaN    NaN
2023-09-01 00:04:00 2023-09-01 02:04:00  NaN      NaN     NaN   NaN    NaN
2023-09-01 00:09:59 2023-09-01 02:09:59  NaN      NaN     NaN   NaN    NaN
2023-09-01 00:10:00 2023-09-01 02:10:00   14  51,4379  5,3582  8,38  10,92

                                         ...  I58                  I10       \
Time                                     ...  PM1 PM2.5 PM10  NO2  Lat  Lon
2023-09-01 00:00:00 2023-09-01 02:00:00  ...  NaN   NaN  NaN  NaN  NaN  NaN
2023-09-01 00:00:01 2023-09-01 02:00:01  ...  NaN   NaN  NaN  NaN  NaN  NaN
2023-09-01 00:04:00 2023-09-01 02:04:00  ...  NaN   NaN  NaN  NaN  NaN  NaN
2023-09-01 00:09:59 2023-09-01 02:09:59  ...  NaN   NaN  NaN  NaN  NaN  NaN
2023-09-01 00:10:00 2023-09-01 02:10:00  ...  NaN   NaN  NaN  NaN  NaN  NaN


Time                                     PM1 PM2.5 PM10  NO2
2023-09-01 00:00:00 2023-09-01 02:00:00  NaN   NaN  NaN  NaN
2023-09-01 00:00:01 2023-09-01 02:00:01  NaN   NaN  NaN  NaN
2023-09-01 00:04:00 2023-09-01 02:04:00  NaN   NaN  NaN  NaN
2023-09-01 00:09:59 2023-09-01 02:09:59  NaN   NaN  NaN  NaN
2023-09-01 00:10:00 2023-09-01 02:10:00  NaN   NaN  NaN  NaN

[5 rows x 285 columns]

In [11]:
df_stack = df_stack.stack(level=0)

In [32]:
df_new = df_stack.reset_index(level=[0,1], names=['Time_UTC', 'Time_Local'])

In [45]:
df_rename = df_new.reset_index(names='Location')

In [57]:
print (df_new.index.name)

None

In [58]:
print (df_new.columns.name)

Time

In [60]:
df = df_new.rename_axis(index='Location', columns=None)

In [69]:
df = df.reset_index()

In [73]:
df[["Time_UTC", "Time_Local"]] = df[["Time_UTC", "Time_Local"]].apply(pd.to_datetime)

In [ ]:
df.to_csv(r'c:\users\sieweweiss\OneDrive - KPMG\Documents\JADS\Level 1\Enexis\Table.csv', encoding='utf-8')

In [74]:
duckdb.sql('DROP TABLE dm')

In [75]:
duckdb.sql("CREATE TABLE dm AS SELECT * FROM df")

In [76]:
duckdb.sql("SELECT * FROM dm").show()

┌──────────┬─────────────────────┬─────────────────────┬─────────┬─────────┬───┬─────────┬─────────┬─────────┬─────────┐
│ Location │      Time_UTC       │     Time_Local      │   Lat   │   Lon   │ … │   PM1   │  PM10   │  PM2.5  │   UFP   │
│ varchar  │      timestamp      │      timestamp      │ varchar │ varchar │   │ varchar │ varchar │ varchar │ varchar │
├──────────┼─────────────────────┼─────────────────────┼─────────┼─────────┼───┼─────────┼─────────┼─────────┼─────────┤
│ I01      │ 2023-09-01 00:00:00 │ 2023-09-01 02:00:00 │ 51,4063 │ 5,4574  │ … │ 9,48    │ 26,51   │ 13,00   │ NULL    │
│ I02      │ 2023-09-01 00:00:00 │ 2023-09-01 02:00:00 │ 51,4379 │ 5,3582  │ … │ 7,18    │ 19,28   │ 10,15   │ 7275    │
│ I03      │ 2023-09-01 00:00:00 │ 2023-09-01 02:00:00 │ 51,5108 │ 5,3607  │ … │ 6,62    │ 11,66   │ 8,13    │ NULL    │
│ I04      │ 2023-09-01 00:00:00 │ 2023-09-01 02:00:00 │ 51,4914 │ 5,4392  │ … │ 6,76    │ 15,30   │ 9,00    │ NULL    │
│ I07      │ 2023-09-01 00:00:00 │ 2023-09-01 02:00:00 │ 51,4566 │ 5,4384  │ … │ 4,56    │ 11,54   │ 5,73    │ NULL    │
│ I11      │ 2023-09-01 00:00:00 │ 2023-09-01 02:00:00 │ 51,4453 │ 5,4854  │ … │ 7,13    │ 16,99   │ 9,50    │ NULL    │
│ I12      │ 2023-09-01 00:00:00 │ 2023-09-01 02:00:00 │ 51,4415 │ 5,4713  │ … │ 8,32    │ 28,61   │ 12,50   │ NULL    │
│ I14      │ 2023-09-01 00:00:00 │ 2023-09-01 02:00:00 │ 51,4681 │ 5,3901  │ … │ 3,49    │ 11,26   │ 4,93    │ 8279    │
│ I17      │ 2023-09-01 00:00:00 │ 2023-09-01 02:00:00 │ 51,4135 │ 5,4709  │ … │ 4,40    │ 15,07   │ 6,06    │ NULL    │
│ I23      │ 2023-09-01 00:00:00 │ 2023-09-01 02:00:00 │ 51,4585 │ 5,4050  │ … │ 5,87    │ 17,88   │ 8,93    │ NULL    │
│  ·       │          ·          │          ·          │    ·    │   ·     │ · │  ·      │   ·     │  ·      │  ·      │
│  ·       │          ·          │          ·          │    ·    │   ·     │ · │  ·      │   ·     │  ·      │  ·      │
│  ·       │          ·          │          ·          │    ·    │   ·     │ · │  ·      │   ·     │  ·      │  ·      │
│ I14      │ 2023-09-02 18:40:00 │ 2023-09-02 20:40:00 │ 51,4681 │ 5,3901  │ … │ 20,36   │ 26,09   │ 21,75   │ 9172    │
│ I17      │ 2023-09-02 18:40:00 │ 2023-09-02 20:40:00 │ 51,4135 │ 5,4708  │ … │ 13,47   │ 17,16   │ 14,52   │ NULL    │
│ I18      │ 2023-09-02 18:40:00 │ 2023-09-02 20:40:00 │ 51,5696 │ 5,3113  │ … │ 14,84   │ 15,52   │ 15,57   │ NULL    │
│ I19      │ 2023-09-02 18:40:00 │ 2023-09-02 20:40:00 │ 51,4333 │ 5,5198  │ … │ 22,83   │ 23,74   │ 24,26   │ NULL    │
│ I23      │ 2023-09-02 18:40:00 │ 2023-09-02 20:40:00 │ 51,4584 │ 5,4049  │ … │ 21,75   │ 29,00   │ 23,49   │ NULL    │
│ I24      │ 2023-09-02 18:40:00 │ 2023-09-02 20:40:00 │ 51,4446 │ 5,4787  │ … │ 20,99   │ 27,23   │ 22,52   │ NULL    │
│ I25      │ 2023-09-02 18:40:00 │ 2023-09-02 20:40:00 │ 51,4546 │ 5,3886  │ … │ 21,26   │ 25,16   │ 22,94   │ 21090   │
│ I28      │ 2023-09-02 18:40:00 │ 2023-09-02 20:40:00 │ 51,4492 │ 5,4569  │ … │ 25,17   │ 24,49   │ 25,87   │ NULL    │
│ I29      │ 2023-09-02 18:40:00 │ 2023-09-02 20:40:00 │ 51,4352 │ 5,4797  │ … │ 20,11   │ 25,29   │ 22,39   │ NULL    │
│ I30      │ 2023-09-02 18:40:00 │ 2023-09-02 20:40:00 │ 51,4374 │ 5,4516  │ … │ 18,74   │ 25,43   │ 20,08   │ NULL    │
├──────────┴─────────────────────┴─────────────────────┴─────────┴─────────┴───┴─────────┴─────────┴─────────┴─────────┤
│ ? rows (>9999 rows, 20 shown)                                                                   10 columns (9 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [92]:
locations = pd.read_csv('c:/users/sieweweiss/OneDrive - KPMG/Documents/JADS/Level 1/Enexis/data/locaties-airboxen.csv', sep=';')

In [93]:
duckdb.sql("CREATE TABLE locations AS SELECT * FROM locations")

In [94]:
SELECT * FROM locations

SyntaxError: invalid syntax (3702759018.py, line 1)